.cartelera {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  margin: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (width <= 600px) {
  .cartelera {
    grid-template-columns: 1fr;
    grid-column-gap: unset;
  }
}
