<div class="back">
  <a routerLink="/">Volver</a>
</div>
<div class="detalle">
  <div>
    <h4>Sesiones disponibles para {{ detalle.title }}:</h4>
    <div class="sesiones">
      <p *ngFor="let session of detalle.sessions" class="sesion">
        <span
          >Fecha: {{ session.date | date : "dd/MM/yyyy" }}, Disponibilidad:
          {{ session.availability }}
        </span>
        <span class="contador">
          <span (click)="dispo(session)">-</span> 0
          <span (click)="dispo(session)">+</span>
        </span>
      </p>
    </div>
  </div>
  <app-carrito></app-carrito>
</div>
