.back {
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
}

.detalle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  margin: auto;
  width: 70%;
}

@media screen and (width <= 600px) {
  .detalle {
    grid-template-columns: 1fr;
    grid-column-gap: unset;
  }
}
.sesion {
  display: flex;
  justify-content: space-around;
}

.contador {
  width: 20%;
  span {
    cursor: pointer;
    padding: 0px 10px;
  }
}

.sesiones {
  border: 0.2px solid;
  padding: 20px 0;
}

.detalle_sesion {
  margin-left: 1em;
  width: 80%;
}

.detalle-evento {
  margin-top: 3em;
}
