<mat-card>
  <mat-card-header>
    <mat-card-title>{{ evento.title }}</mat-card-title>
    <mat-card-subtitle>{{ evento.subtitle }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ evento.image }}" alt="Foto del evento" />
  <mat-card-content>
    <p>
      {{ evento.startDate | date : "dd/MM/yyyy" }} -
      {{ evento.endDate | date : "dd/MM/yyyy" }}
    </p>
    <p [innerHTML]="evento.description"></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Comprar</button>
  </mat-card-actions>
</mat-card>
