mat-card {
  border: 1px solid #a09d9d;
  width: 25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (width <= 600px) {
  mat-card {
    width: 50vw;
  }
  .description {
    display: none;
  }
}

button {
  width: 100%;
}
.mdc-card__actions {
  padding: unset;
}

mat-card-title,
mat-card-subtitle {
  color: #0097a7;
}

mat-card-subtitle {
  padding-bottom: 10px;
}

mat-card-content {
  padding-top: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
a,
img {
  cursor: pointer;
}
